
@{
    ViewBag.Title = "Hakkımızda ";
}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="wow fadeInUp" data-cursor="-opaque">Hakkımızda</h1>
                    <nav class="wow fadeInUp" data-wow-delay="0.2s">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">hakkımızda</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- About Us Section Start -->
@Html.Partial("_AboutUsSectionPartialView")
<!-- About Us Section End -->
<!-- Our Approach Section Start -->
<div class="our-approach bg-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Approach Content Start -->
                <div class="approach-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Our approach</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Shaping Tomorrow with <span>Intelligent AI solutions</span></h2>
                    </div>
                    <!-- Section Title End -->
                    <!-- Approach Image Start -->
                    <div class="approach-image">
                        <figure class="image-anime reveal">
                            <img src="images/approach-image.jpg" alt="">
                        </figure>
                    </div>
                    <!-- Approach Image End -->
                </div>
                <!-- Approach Content ENd -->
            </div>

            <div class="col-lg-6">
                <!-- Our Approach List Start -->
                <div class="our-approach-list">
                    <!-- Mission Vission Item Start -->
                    <div class="mission-vision-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="images/icon-mission.svg" alt="">
                        </div>
                        <div class="mission-vision-item-content">
                            <h3>Our mission</h3>
                            <p>Our mission is to deliver cutting-edge AI solutions that empower businesses to automate, innovate, and grow. We aim to bridge the gap between technology.</p>
                        </div>
                    </div>
                    <!-- Mission Vission Item End -->
                    <!-- Mission Vission Item Start -->
                    <div class="mission-vision-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="images/icon-vision.svg" alt="">
                        </div>
                        <div class="mission-vision-item-content">
                            <h3>Our vision</h3>
                            <p>Our vision is to deliver cutting-edge AI solutions that empower businesses to automate, innovate, and grow. We aim to bridge the gap between technology.</p>
                        </div>
                    </div>
                    <!-- Mission Vission Item End -->
                    <!-- Mission Vission Item Start -->
                    <div class="mission-vision-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="images/icon-goal.svg" alt="">
                        </div>
                        <div class="mission-vision-item-content">
                            <h3>Our goal</h3>
                            <p>Our goal is to deliver cutting-edge AI solutions that empower businesses to automate, innovate, and grow. We aim to bridge the gap between technology.</p>
                        </div>
                    </div>
                    <!-- Mission Vission Item End -->
                </div>
                <!-- Our Approach List End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Approach Section End -->
<!-- Our Features Section Start -->
<div class="our-features">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">Our feature</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Unlock efficiency through <span>intelligent AI features</span></h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Content Button Start -->
                <div class="section-content-btn">
                    <!-- Section Title Content Start -->
                    <div class="section-title-content wow fadeInUp" data-wow-delay="0.2s">
                        <p>Explore our powerful AI-driven features designed to,enhance decision-making, and accelerate innovation across your business.</p>
                    </div>
                    <!-- Section Title Content End -->
                    <!-- Section Button Start -->
                    <div class="section-btn wow fadeInUp" data-wow-delay="0.4s">
                        <a href="contact.html" class="btn-default">contact us</a>
                    </div>
                    <!-- Section Button End -->
                </div>
                <!-- Section Content Button End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <!-- Feature Item Box Start -->
                <div class="feature-item-box">
                    <!-- Feature Item Start -->
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.2s">
                        <h3>Advanced Machine Learning for Business Growth</h3>
                        <ul>
                            <li>Automation</li>
                            <li>Security</li>
                            <li>Integration</li>
                            <li>Optimization</li>
                            <li>Scalability</li>
                        </ul>
                    </div>
                    <!-- Feature Item End -->
                    <!-- Feature Content Box Start -->
                    <div class="feature-content-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="images/icon-feature-1.svg" alt="">
                        </div>
                        <div class="feature-content-title">
                            <h3>Advanced Machine Learning Model Development</h3>
                        </div>
                    </div>
                    <!-- Feature Content Box End -->
                </div>
                <!-- Feature Item Box End -->
            </div>

            <div class="col-lg-4">
                <!-- Feature Image Box Start -->
                <div class="feature-image-box wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Feature Image Content Start -->
                    <div class="feature-image-content">
                        <h3>AI-Driven Innovation  Competitive Advantage</h3>
                        <ul>
                            <li>Edge AI for Smarter Devices</li>
                            <li>Secure and Ethical AI Practices</li>
                        </ul>
                    </div>
                    <!-- Feature Image Content End -->
                    <!-- Feature Image Start -->
                    <div class="feature-image">
                        <figure>
                            <img src="images/feature-image.png" alt="">
                        </figure>
                    </div>
                    <!-- Feature Image End -->
                </div>
                <!-- Feature Image Box End -->
            </div>

            <div class="col-lg-4">
                <!-- Feature Item Box Start -->
                <div class="feature-item-box">
                    <!-- Feature Counter Box Start -->
                    <div class="feature-counter-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="images/icon-feature-2.svg" alt="">
                        </div>
                        <div class="feature-counter-content">
                            <h2><span class="counter">200</span>+</h2>
                            <p>AI Agency & Technology Project Complate</p>
                        </div>
                        <div class="feature-counter-image">
                            <img src="images/feature-counter-img.png" alt="">
                        </div>
                    </div>
                    <!-- Feature Counter Box End -->
                    <!-- Feature Item Start -->
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.4s">
                        <h3>Transforming Industries Through Applied AI</h3>
                        <ul>
                            <li>SmartBot</li>
                            <li>VisionAI</li>
                            <li>PredictPro</li>
                            <li>VoiceFlow</li>
                            <li>MarketMind</li>
                        </ul>
                    </div>
                    <!-- Feature Item End -->
                </div>
                <!-- Feature Item Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Features Section End -->
<!-- Who We Are Section Start -->
<div class="who-we-are bg-section dark-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1 order-2">
                <!-- Who We Are Accordian Start -->
                <div class="who-we-are-accordion" id="whoaccordion">
                    <!-- Who We Are Accordian Item Start -->
                    <div class="accordion-item wow fadeInUp">
                        <h2 class="accordion-header" id="whoheading1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#whocollapse1" aria-expanded="true" aria-controls="whocollapse1">
                                <img src="images/icon-who-we-are-1.svg" alt=""> Driven by Data, Inspired by Impact
                            </button>
                        </h2>
                        <div id="whocollapse1" class="accordion-collapse collapse show" aria-labelledby="whoheading1" data-bs-parent="#whoaccordion">
                            <div class="accordion-body">
                                <p>We design intelligent systems that learn from data and automate complex processes—enhancing efficiency, accuracy, and scalability across industries Our expert team leverages cutting-edge machine learning models.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Who We Are Accordian Item End -->
                    <!-- Who We Are Accordian Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                        <h2 class="accordion-header" id="whoheading2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whocollapse2" aria-expanded="true" aria-controls="whocollapse2">
                                <img src="images/icon-who-we-are-2.svg" alt=""> Experts in Machine Learning & Automation
                            </button>
                        </h2>
                        <div id="whocollapse2" class="accordion-collapse collapse" aria-labelledby="whoheading2" data-bs-parent="#whoaccordion">
                            <div class="accordion-body">
                                <p>We design intelligent systems that learn from data and automate complex processes—enhancing efficiency, accuracy, and scalability across industries Our expert team leverages cutting-edge machine learning models.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Who We Are Accordian Item End -->
                    <!-- Who We Are Accordian Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                        <h2 class="accordion-header" id="whoheading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whocollapse3" aria-expanded="true" aria-controls="whocollapse3">
                                <img src="images/icon-who-we-are-3.svg" alt=""> Cutting-Edge Research & Development
                            </button>
                        </h2>
                        <div id="whocollapse3" class="accordion-collapse collapse" aria-labelledby="whoheading3" data-bs-parent="#whoaccordion">
                            <div class="accordion-body">
                                <p>We design intelligent systems that learn from data and automate complex processes—enhancing efficiency, accuracy, and scalability across industries Our expert team leverages cutting-edge machine learning models.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Who We Are Accordian Item End -->
                </div>
                <!-- Who We Are Accordian End -->
            </div>

            <div class="col-lg-6 order-lg-2 order-1">
                <!-- Who We Are Content Start -->
                <div class="who-we-are-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Who We Are</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Expert deliver AI solution <span>with real impact</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">We are a forward-thinking AI agency specialize in cutting-edge artificial intelligence and machine learning solutions. Whether you're a startup or a global enterprise our mission is simple build AI-powered tools that solve real-world problems.</p>
                    </div>
                    <!-- Section Title End -->
                    <!-- Who We Are Counters Start -->
                    <div class="who-we-are-counters">
                        <!-- Who We Counter Item Start -->
                        <div class="who-we-counter-item">
                            <h2><span class="counter">150</span>+</h2>
                            <p>AI Projects Delivered</p>
                        </div>
                        <!-- Who We Counter Item End -->
                        <!-- Who We Counter Item Start -->
                        <div class="who-we-counter-item">
                            <h2><span class="counter">20</span>+</h2>
                            <p>Industries Served</p>
                        </div>
                        <!-- Who We Counter Item End -->
                        <!-- Who We Counter Item Start -->
                        <div class="who-we-counter-item">
                            <h2><span class="counter">98</span>%</h2>
                            <p>Client Satisfied Rate</p>
                        </div>
                        <!-- Who We Counter Item End -->
                    </div>
                    <!-- Who We Are Counters End -->
                </div>
                <!-- Who We Are Content End -->
            </div>
        </div>
    </div>
</div>
<!-- Who We Are Section End -->
<!-- Our Solutions Section Start -->
<div class="our-solutions">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Our Solution Image Start -->
                <div class="our-solution-image">
                    <figure class="image-anime reveal">
                        <img src="images/solution-image.jpg" alt="">
                    </figure>
                </div>
                <!-- Our Solution Image End -->
            </div>

            <div class="col-lg-6">
                <!-- Our Solution Content Start -->
                <div class="our-solution-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">powered by ai</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">A collaborative approach to <span>intelligent solutions</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">We believe that the most powerful AI solutions are born from collaboration. By working closely with our clients, we align cutting-edge technology.</p>
                    </div>
                    <!-- Section Title End -->
                    <!-- Solution Button Start -->
                    <div class="solution-button wow fadeInUp" data-wow-delay="0.6s">
                        <a href="contact.html" class="btn-default">Learn more</a>
                    </div>
                    <!-- Solution Button End -->
                    <!-- Solution Item List Start -->
                    <div class="solution-item-list wow fadeInUp" data-wow-delay="0.8s">
                        <!-- Solution Item Start -->
                        <div class="solution-item">
                            <div class="icon-box">
                                <img src="images/icon-solution-1.svg" alt="">
                            </div>
                            <div class="solution-item-content">
                                <h3>AI Development</h3>
                                <p>We are a forward-thinking AI agency specializing in cutting-edge artificial intelligence.</p>
                            </div>
                        </div>
                        <!-- Solution Item End -->
                        <!-- Solution Item Start -->
                        <div class="solution-item">
                            <div class="icon-box">
                                <img src="images/icon-solution-2.svg" alt="">
                            </div>
                            <div class="solution-item-content">
                                <h3>Machine Learning</h3>
                                <p>We are a forward-thinking AI agency specializing in cutting-edge artificial intelligence.</p>
                            </div>
                        </div>
                        <!-- Solution Item End -->
                    </div>
                    <!-- Solution Item List End -->
                </div>
                <!-- Our Solution Content End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Solutions Section End -->
<!-- Our Brands Section Start -->
<div class="our-brands bg-section">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">Smart brands</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Partnering with forward <span>brands worldwide</span></h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- Brand Item Start -->
                <div class="brand-item wow fadeInUp" data-wow-delay="0.4s">
                    <figure class="image-anime">
                        <img src="images/brand-image-1.jpg" alt="">
                    </figure>

                    <!-- Brand Item Content Start -->
                    <div class="brand-item-content">
                        <h2>AI Solutions</h2>
                        <p>Working with was a game-changer for our business. They took the time understand our unique challenges and solutions that boosted our efficiency and The team was k</p>
                    </div>
                    <!-- Brand Item Content End -->
                </div>
                <!-- Brand Item End -->
            </div>

            <div class="col-md-6">
                <!-- Brand Item Start -->
                <div class="brand-item wow fadeInUp" data-wow-delay="0.6s">
                    <figure class="image-anime">
                        <img src="images/brand-image-2.jpg" alt="">
                    </figure>

                    <!-- Brand Item Content Start -->
                    <div class="brand-item-content">
                        <h2>Vision Pro</h2>
                        <p>Working with was a game-changer for our business. They took the time understand our unique challenges and solutions that boosted our efficiency and The team was k</p>
                    </div>
                    <!-- Brand Item Content End -->
                </div>
                <!-- Brand Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Brands Section End -->
<!-- Our Team Section Start -->
<div class="our-team">
    <div class="container">
        <div class="row section-title">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">our team</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Dedicated experts committed to <span>intelligent progress</span></h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!-- Team Member Item Start -->
                <div class="team-item wow fadeInUp">
                    <!-- team Image Start -->
                    <div class="team-image">
                        <a href="team-single.html" class="image-anime" data-cursor-text="View">
                            <figure>
                                <img src="images/team-1.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- team Image End -->
                    <!-- Team Body Start -->
                    <div class="team-body">
                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h3><a href="team-single.html">Sarah Mitchell</a></h3>
                            <p>co. founder</p>
                        </div>
                        <!-- Team Content End -->
                        <!-- Team Social List Start -->
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <!-- Team Social List End -->
                    </div>
                    <!-- Team Body End -->
                </div>
                <!-- Team Member Item End -->
            </div>

            <div class="col-lg-3 col-md-6">
                <!-- Team Member Item Start -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- team Image Start -->
                    <div class="team-image">
                        <a href="team-single.html" class="image-anime" data-cursor-text="View">
                            <figure>
                                <img src="images/team-2.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- team Image End -->
                    <!-- Team Body Start -->
                    <div class="team-body">
                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h3><a href="team-single.html">Brooklyn Simmons</a></h3>
                            <p>Marketing director</p>
                        </div>
                        <!-- Team Content End -->
                        <!-- Team Social List Start -->
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <!-- Team Social List End -->
                    </div>
                    <!-- Team Body End -->
                </div>
                <!-- Team Member Item End -->
            </div>

            <div class="col-lg-3 col-md-6">
                <!-- Team Member Item Start -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                    <!-- team Image Start -->
                    <div class="team-image">
                        <a href="team-single.html" class="image-anime" data-cursor-text="View">
                            <figure>
                                <img src="images/team-3.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- team Image End -->
                    <!-- Team Body Start -->
                    <div class="team-body">
                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h3><a href="team-single.html">Ralph Edwards</a></h3>
                            <p>Lead AI Scientist</p>
                        </div>
                        <!-- Team Content End -->
                        <!-- Team Social List Start -->
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <!-- Team Social List End -->
                    </div>
                    <!-- Team Body End -->
                </div>
                <!-- Team Member Item End -->
            </div>

            <div class="col-lg-3 col-md-6">
                <!-- Team Member Item Start -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                    <!-- team Image Start -->
                    <div class="team-image">
                        <a href="team-single.html" class="image-anime" data-cursor-text="View">
                            <figure>
                                <img src="images/team-4.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- team Image End -->
                    <!-- Team Body Start -->
                    <div class="team-body">
                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h3><a href="team-single.html">Marvin Mckinney</a></h3>
                            <p>Machine Learning Engineer</p>
                        </div>
                        <!-- Team Content End -->
                        <!-- Team Social List Start -->
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <!-- Team Social List End -->
                    </div>
                    <!-- Team Body End -->
                </div>
                <!-- Team Member Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Team Section End -->
<!-- Our Faqs Section Start -->
<div class="our-faqs bg-section dark-section">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">faq's</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Frequently asked questions on <span>AI services</span></h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- FAQ Accordion Start -->
                <div class="faq-accordion" id="accordion">
                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                What industries can benefit from AI solutions?
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We monitor system performance in real-time, identifying and addressing any issues to ensure that your AI solution runs smoothly at all times.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->
                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                How do you customize AI solutions for my needs?
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We monitor system performance in real-time, identifying and addressing any issues to ensure that your AI solution runs smoothly at all times.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->
                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                What kind of support do you provide post-deployment?
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We monitor system performance in real-time, identifying and addressing any issues to ensure that your AI solution runs smoothly at all times.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->
                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                How secure is the AI technology you use?
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We monitor system performance in real-time, identifying and addressing any issues to ensure that your AI solution runs smoothly at all times.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->
                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                        <h2 class="accordion-header" id="heading5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                How long does it take to see results?
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We monitor system performance in real-time, identifying and addressing any issues to ensure that your AI solution runs smoothly at all times.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->
                </div>
                <!-- FAQ Accordion End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Faqs Section End -->
<!-- Our Testimonials Section Start -->
<div class="our-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Testimonial Content Box Start -->
                <div class="testimonial-content-box">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-cursor="-opaque">Impressive stats backing our <span>AI solutions</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">We are a forward-thinking AI agency specializing in cutting-edge artificial intelligence and machine learning solutions to build AI-powered tools that solve real-world problems.</p>
                    </div>
                    <!-- Section Title End -->
                    <!-- Testimonial Counters Start -->
                    <div class="testimonial-counters">
                        <!-- Testimonial Counter Item Start -->
                        <div class="testimonial-counter-item">
                            <div class="icon-box">
                                <img src="images/icon-testimonial-counter-1.svg" alt="">
                            </div>
                            <div class="testimonial-counter-content">
                                <h2><span class="counter">200</span>+</h2>
                                <p>AI Agency Technology Project Complate</p>
                            </div>
                        </div>
                        <!-- Testimonial Counter Item End -->
                        <!-- Testimonial Counter Item Start -->
                        <div class="testimonial-counter-item">
                            <div class="icon-box">
                                <img src="images/icon-testimonial-counter-2.svg" alt="">
                            </div>
                            <div class="testimonial-counter-content">
                                <h2><span class="counter">98</span>%</h2>
                                <p>Client Satisfaction Rate in Our Agency</p>
                            </div>
                        </div>
                        <!-- Testimonial Counter Item End -->
                    </div>
                    <!-- Testimonial Counters End -->
                </div>
                <!-- Testimonial Content Box End -->
            </div>

            <div class="col-lg-6">
                <!-- Testimonial Slider Box Start -->
                <div class="testimonial-slider-box dark-section">
                    <!-- Testimonial Slider Content Start -->
                    <div class="testimonial-slider-box-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Testimonials</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">What our client says</h2>
                        </div>
                        <!-- Section Title End -->
                        <!-- Testimonial Images Start -->
                        <div class="testimonial-images">
                            <!-- Satisfy Client Images Start -->
                            <div class="satisfy-client-images">
                                <div class="satisfy-client-image">
                                    <figure class="image-anime">
                                        <img src="images/author-1.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="satisfy-client-image">
                                    <figure class="image-anime">
                                        <img src="images/author-2.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="satisfy-client-image">
                                    <figure class="image-anime">
                                        <img src="images/author-3.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="satisfy-client-image">
                                    <figure class="image-anime">
                                        <img src="images/author-4.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="satisfy-client-image">
                                    <figure class="image-anime">
                                        <img src="images/author-5.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                            <!-- Satisfy Client Images End -->
                        </div>
                        <!-- Testimonial Images End -->
                    </div>
                    <!-- Testimonial Slider Content End -->
                    <!-- Testimonial Slider Start -->
                    <div class="testimonial-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper" data-cursor-text="Drag">
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-slider-content">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>"Working with was a game-changer for our business. They took the time understand our unique challenges & solutions that boosted our efficiency & the team was knowledgeable, responsive & incredibly easy to work with.!"</p>
                                            </div>
                                            <div class="author-content">
                                                <h3>Sophia Reynolds</h3>
                                                <p>Founder</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-slider-image">
                                            <figure class="image-anime">
                                                <img src="images/testimonial-image-1.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-slider-content">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>"Working with was a game-changer for our business. They took the time understand our unique challenges & solutions that boosted our efficiency & the team was knowledgeable, responsive & incredibly easy to work with.!"</p>
                                            </div>
                                            <div class="author-content">
                                                <h3>Jacob Jones</h3>
                                                <p>CEO</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-slider-image">
                                            <figure class="image-anime">
                                                <img src="images/testimonial-image-2.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-slider-content">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>"Working with was a game-changer for our business. They took the time understand our unique challenges & solutions that boosted our efficiency & the team was knowledgeable, responsive & incredibly easy to work with.!"</p>
                                            </div>
                                            <div class="author-content">
                                                <h3>Olivia bennett</h3>
                                                <p>Managing director</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-slider-image">
                                            <figure class="image-anime">
                                                <img src="images/testimonial-image-3.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                            </div>
                            <div class="testimonial-pagination"></div>
                        </div>
                    </div>
                    <!-- Testimonial Slider End -->
                </div>
                <!-- Testimonial Slider Box End -->
            </div>

            <div class="col-lg-12">
                <!-- Testimonial Rating Box Start -->
                <div class="testimonial-rating-box">
                    <!-- Testimonial Rating Item Start -->
                    <div class="testimonial-rating-item">
                        <div class="icon-box">
                            <img src="images/icon-testimonial-rating-1.svg" alt="">
                        </div>
                        <div class="testimonial-rating-content">
                            <p><span class="counter">982</span>+ Trustpilot 4.8 start review</p>
                        </div>
                    </div>
                    <!-- Testimonial Rating Item End -->
                    <!-- Testimonial Rating Item Start -->
                    <div class="testimonial-rating-item">
                        <div class="icon-box">
                            <img src="images/icon-testimonial-rating-2.svg" alt="">
                        </div>
                        <div class="testimonial-rating-content">
                            <p><span class="counter">487</span>+ Airbng 5 start reviews</p>
                        </div>
                    </div>
                    <!-- Testimonial Rating Item End -->
                    <!-- Testimonial Rating Item Start -->
                    <div class="testimonial-rating-item">
                        <div class="icon-box">
                            <img src="images/icon-testimonial-rating-3.svg" alt="">
                        </div>
                        <div class="testimonial-rating-content">
                            <p><span class="counter">182</span>+ Yelp 5 start reviews</p>
                        </div>
                    </div>
                    <!-- Testimonial Rating Item End -->
                    <!-- Testimonial Rating Item Start -->
                    <div class="testimonial-rating-item">
                        <div class="icon-box">
                            <img src="images/icon-testimonial-rating-4.svg" alt="">
                        </div>
                        <div class="testimonial-rating-content">
                            <p><span class="counter">897</span>+ Google 5 start reviews</p>
                        </div>
                    </div>
                    <!-- Testimonial Rating Item End -->
                </div>
                <!-- Testimonial Rating Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Testimonials Section End -->