
@{
    ViewBag.Title = "İletişim";
}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="wow fadeInUp" data-cursor="-opaque"> <span>İletişim</span></h1>
                    <nav class="wow fadeInUp" data-wow-delay="0.2s">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">İletişim</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Page Contact Us Start -->
<div class="page-contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Contact Info List Start -->
                <div class="contact-info-list">
                    <!-- Contact Info Item Start -->
                    <div class="contact-info-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="/temaDosyalar/images/icon-phone.svg" alt="">
                        </div>
                        <div class="contact-info-content">
                            <h3>Bize ulaşın</h3>
                            <p><a href="tel:+123254963">(+00) 123-254-963</a></p>
                            <p><a href="tel:+761852339">(+12) 761 852 339</a></p>
                        </div>
                    </div>
                    <!-- Contact Info Item End -->
                    <!-- Contact Info Item Start -->
                    <div class="contact-info-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="/temaDosyalar/images/icon-mail.svg" alt="">
                        </div>
                        <div class="contact-info-content">
                            <h3>Fiyat teklifi isteyin</h3>
                            <p><a href="mailto:info@domain.com">info@domainname.com</a></p>
                            <p><a href="mailto:support@domain.com">support@domain.com</a></p>
                        </div>
                    </div>
                    <!-- Contact Info Item End -->
                    <!-- Contact Info Item Start -->
                    <div class="contact-info-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="/temaDosyalar/images/icon-clock.svg" alt="">
                        </div>
                        <div class="contact-info-content">
                            <h3>Çalışma Saatleri</h3>
                            <p>Mon-Fri : 08am - 10pm</p>
                            <p>sat-sun : close</p>
                        </div>
                    </div>
                    <!-- Contact Info Item End -->
                    <!-- Contact Info Item Start -->
                    <div class="contact-info-item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon-box">
                            <img src="/temaDosyalar/images/icon-location.svg" alt="">
                        </div>
                        <div class="contact-info-content">
                            <h3>konum</h3>
                            <p>123 Lorem Street Suite 5B, Ipsum UK</p>
                        </div>
                    </div>
                    <!-- Contact Info Item End -->
                </div>
                <!-- Contact Info List Start -->
            </div>

            @Html.Partial("_MapPartialView")

        </div>
    </div>
</div>
<!-- Page Contact Us End -->