
@{
    ViewBag.Title = "ProjectDetail";
    int projeID = ViewBag.ProjectId;

}

@if (projeID == 1)
{
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="wow fadeInUp" data-cursor="-opaque">Proje <span>1 </span></h1>
                        <nav class="wow fadeInUp" data-wow-delay="0.2s">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">anasayfa / </a></li>
                                <li class="breadcrumb-item"><a href="/Page/Projects">Projeler / </a></li>
                                <li class="breadcrumb-item active" aria-current="page">Proje 1</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Page Project Single Start -->
    <div class="page-project-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Page Single Sidebar Start -->
                    <div class="page-single-sidebar">
                        <!-- Page Category List Start -->
                        <div class="project-category-list wow fadeInUp">
                            <h3>Proje Bilgileri</h3>
                            <ul>
                                <li>Proje adı :<span>Proje 1</span></li>
                                <li>Şirket :<span>Yapay zeka firması</span></li>
                                <li>Müşteri :<span>Josefin H. Smith</span></li>
                                <li>Süre :<span>6 Ay</span></li>
                            </ul>
                        </div>
                        <!-- Page Category List End -->
                        <!-- Sidebar CTA Box Start -->
                        <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.25s">
                            <!-- Satisfy Client Box Start -->
                            <div class="satisfy-client-box">
                                <!-- Satisfy Client Images Start -->
                                <div class="satisfy-client-images">
                                    <div class="satisfy-client-image">
                                        <figure class="image-anime">
                                            <img src="/temaDosyalar/images/satisfy-client-img-1.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="satisfy-client-image">
                                        <figure class="image-anime">
                                            <img src="/temaDosyalar/images/satisfy-client-img-2.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="satisfy-client-image">
                                        <figure class="image-anime">
                                            <img src="/temaDosyalar/images/satisfy-client-img-3.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <!-- Satisfy Client Images End -->
                                <!-- Satisfy Client Content Start -->
                                <div class="satisfy-client-content">
                                    <p><span>5.5k+</span> Müşteri memnuniyeti</p>
                                </div>
                                <!-- Satisfy Client Content End -->
                            </div>
                            <!-- Satisfy Client Box End -->
                            <!-- Satisfy CTA Contact Start -->
                            <div class="sidebar-cta-contact">
                                <h3>Yardıma mı ihtiyacınız var?</h3>
                                <ul>
                                    <li><img src="/temaDosyalar/images/icon-phone-gradient.svg" alt=""><a href="tel:123456789">+123 456 789</a></li>
                                    <li><img src="/temaDosyalar/images/icon-mail-gradient.svg" alt=""><a href="mailto:info@domainname.com">info@domainname.com</a></li>
                                </ul>
                            </div>
                            <!-- Satisfy CTA Contact End -->
                        </div>
                        <!-- Sidebar CTA Box End -->
                    </div>
                    <!-- Page Single Sidebar End -->
                </div>

                <div class="col-lg-8">
                    <!-- Project Single Content Start -->
                    <div class="project-single-content">
                        <!-- Page Single Image Start -->
                        <div class="page-single-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/project-2.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Page Single Image End -->
                        <!-- Project Entry Start -->
                        <div class="project-entry">
                            <p class="wow fadeInUp">Unlock the full potential of your data with our advanced Machine Learning services. We design and deploy intelligent models that learn from your data, automate decision-making, and continuously improve outcomes. Whether it’s predictive analytics, recommendation systems, or anomaly detection, our tailored solutions help businesses stay ahead in a rapidly evolving digital landscape.</p>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Our team of ML experts collaborates closely with you to understand your specific goals and challenges. From data preprocessing and model training to deployment and ongoing optimization, we ensure a seamless and scalable integration of Machine Learning into your existing systems—driving smarter operations and measurable results.</p>

                            <!-- Project Solution Box Start -->
                            <div class="project-solution-box">
                                <h2 class="wow fadeInUp" data-wow-delay="0.4s">Inside strategy behind <span>solution</span></h2>
                                <p class="wow fadeInUp" data-wow-delay="0.6s">Our service is designed to provide you with everything you need to achieve meaningful results through AI-driven solutions. From in-depth consultation and tailored strategies to seamless implementation and ongoing support</p>

                                <!-- Project Solution Image Content Start -->
                                <div class="project-solution-image-content">
                                    <!-- Project Solution Image Start -->
                                    <div class="project-solution-image">
                                        <figure class="image-anime reveal">
                                            <img src="/temaDosyalar/images/project-solution-image.jpg" alt="">
                                        </figure>
                                    </div>
                                    <!-- Project Solution Image End -->
                                    <!-- Project Solution Content Start -->
                                    <div class="project-solution-content wow fadeInUp" data-wow-delay="0.8s">
                                        <p>Unlock the full potential of your data with our advanced Machine Learning services. We design and deploy intelligent models that learn from your data, automate decision-making, and continuously improve outcomes. Whether it’s predictive analytics.</p>

                                        <ul>
                                            <li>Next-gen edge ai for smarter devices.</li>
                                            <li>Scalable edge ai for connected device.</li>
                                            <li>Secure edge ai for smart environment.</li>
                                            <li>Adaptive edge ai for intelligent devices.</li>
                                        </ul>
                                    </div>
                                    <!-- Project Solution Content End -->
                                </div>
                                <!-- Project Solution Image Content End -->
                            </div>
                            <!-- Project Solution Box End -->
                            <!-- Project Performance Box Start -->
                            <div class="project-performance-box">
                                <h2 class="wow fadeInUp">Ongoing performance <span>monitoring</span></h2>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">We ensure your AI systems stay optimized and effective through continuous tracking, updates, and performance enhancements for lasting impact.</p>

                                <!-- Performance Step List Start -->
                                <div class="performance-step-list">
                                    <!-- Performance Step Item Start -->
                                    <div class="performance-step-item wow fadeInUp" data-wow-delay="0.4s">
                                        <div class="performance-step-no">
                                            <h3>Step 01</h3>
                                        </div>
                                        <div class="performance-step-content">
                                            <h3>Project challange</h3>
                                            <p>We analyze your unique business needs to develop machine learning models and AI systems tailored</p>
                                        </div>
                                        <div class="icon-box">
                                            <img src="images/icon-service-6.svg" alt="">
                                        </div>
                                    </div>
                                    <!-- Performance Step Item End -->
                                    <!-- Performance Step Item Start -->
                                    <div class="performance-step-item wow fadeInUp" data-wow-delay="0.6s">
                                        <div class="performance-step-no">
                                            <h3>Step 02</h3>
                                        </div>
                                        <div class="performance-step-content">
                                            <h3>Project solution</h3>
                                            <p>We analyze your unique business needs to develop machine learning models and AI systems tailored</p>
                                        </div>
                                        <div class="icon-box">
                                            <img src="/temaDosyalar/images/icon-service-3.svg" alt="">
                                        </div>
                                    </div>
                                    <!-- Performance Step Item End -->
                                    <!-- Performance Step Item Start -->
                                    <div class="performance-step-item highlighted-box wow fadeInUp" data-wow-delay="0.8s">
                                        <div class="performance-step-no">
                                            <h3>Step 03</h3>
                                        </div>
                                        <div class="performance-step-content">
                                            <h3>Achieved Milestones</h3>
                                            <p>We successfully reached key project goals within the planned timeline and scope. Each milestone marked measurable progress toward delivering a high-impact AI solution.</p>
                                        </div>
                                        <div class="icon-box">
                                            <img src="/temaDosyalar/images/icon-service-8.svg" alt="">
                                        </div>
                                    </div>
                                    <!-- Performance Step Item End -->
                                </div>
                                <!-- Performance Step List End -->
                            </div>
                            <!-- Project Performance Box End -->
                            <!-- Project Experience Box Start -->
                            <div class="project-experience-box">
                                <h2 class="wow fadeInUp">What the client <span>experienced</span></h2>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">We ensure your AI systems stay optimized and effective through continuous tracking, updates, and performance enhancements for lasting impact.</p>

                                <!-- Project Experience List Start -->
                                <div class="project-experience-list wow fadeInUp" data-wow-delay="0.4s">
                                    <ul>
                                        <li>Revolutionizing devices with next-gen edge ai.</li>
                                        <li>Transforming everyday devices through advanced</li>
                                        <li>Smarter performance powered by edgetechnology</li>
                                        <li>Edge ai innovation driving future-ready solutions</li>
                                    </ul>
                                </div>
                                <!-- Project Experience List End -->

                                <p>Edge AI is redefining how devices operate by bringing intelligence closer to the source of data. It enables faster processing, enhanced privacy, and real-time decision-making without relying solely on the cloud. From smart homes to industrial automation, Edge AI is unlocking new possibilities. With tailored solutions, we help businesses stay ahead in a connected, intelligent world.</p>
                            </div>
                            <!-- Project Experience Box End -->
                        </div>
                        <!-- Project Entry End -->
                        <!-- Page Single FAQs Start -->
                        @Html.Partial("_PageFaqsPartialView")

                        <!-- Page Single FAQs End -->
                    </div>
                    <!-- Project Single Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Service Single End -->
}
else if (projeID == 2)
{

}
else if (projeID == 3)
{

}
else if (projeID == 4)
{

}
