
@{
    ViewBag.Title = "Projects";
}


<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="wow fadeInUp" data-cursor="-opaque"><span>Projelerimiz</span></h1>
                    <nav class="wow fadeInUp" data-wow-delay="0.2s">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Projeler</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Page Project Start -->
<div class="page-project">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Project Item Start -->
                <div class="project-item wow fadeInUp">
                    <!-- Project Item Content Start -->
                    <div class="project-item-content">
                        <h3><a href="/Page/ProjectDetail?id=1">Proje 1</a></h3>
                        <p>Leverages AI and natural language processing to quickly analyze, classify, and extract key information from legal documents—saving time, reducing errors, and improving compliance.</p>
                    </div>
                    <!-- Project Item Content End -->
                    <!-- Project Image Start -->
                    <div class="project-image">
                        <a href="/Page/ProjectDetail?id=1" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="/temaDosyalar/images/project-1.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Project Image End -->
                </div>
                <!-- Project Item End -->
            </div>

            <div class="col-md-6">
                <!-- Project Item Start -->
                <div class="project-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Project Item Content Start -->
                    <div class="project-item-content">
                        <h3><a href="/Page/ProjectDetail?id=1">Proje 2</a></h3>
                        <p>Leverages AI and natural language processing to quickly analyze, classify, and extract key information from legal documents—saving time, reducing errors, and improving compliance.</p>
                    </div>
                    <!-- Project Item Content End -->
                    <!-- Project Image Start -->
                    <div class="project-image">
                        <a href="/Page/ProjectDetail?id=1" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="/temaDosyalar/images/project-2.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Project Image End -->
                </div>
                <!-- Project Item End -->
            </div>

            <div class="col-md-6">
                <!-- Project Item Start -->
                <div class="project-item wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Project Item Content Start -->
                    <div class="project-item-content">
                        <h3><a href="/Page/ProjectDetail?id=1">Proje 3</a></h3>
                        <p>Leverages AI and natural language processing to quickly analyze, classify, and extract key information from legal documents—saving time, reducing errors, and improving compliance.</p>
                    </div>
                    <!-- Project Item Content End -->
                    <!-- Project Image Start -->
                    <div class="project-image">
                        <a href="/Page/ProjectDetail?id=1" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="/temaDosyalar/images/project-3.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Project Image End -->
                </div>
                <!-- Project Item End -->
            </div>

            <div class="col-md-6">
                <!-- Project Item Start -->
                <div class="project-item wow fadeInUp" data-wow-delay="0.6s">
                    <!-- Project Item Content Start -->
                    <div class="project-item-content">
                        <h3><a href="/Page/ProjectDetail?id=1">Proje 4</a></h3>
                        <p>Leverages AI and natural language processing to quickly analyze, classify, and extract key information from legal documents—saving time, reducing errors, and improving compliance.</p>
                    </div>
                    <!-- Project Item Content End -->
                    <!-- Project Image Start -->
                    <div class="project-image">
                        <a href="/Page/ProjectDetail?id=1" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="/temaDosyalar/images/project-4.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Project Image End -->
                </div>
                <!-- Project Item End -->
            </div>

       
        </div>
    </div>
</div>
<!-- Page Project End -->