<div class="page-single-sidebar">
    <!-- Page Category List Start -->
    <div class="page-category-list wow fadeInUp">
        <h3>Servis Kategorileri</h3>
        <ul>
            <li><a href="/Page/ServiceDetail?id=1">Bilgisayar Teknik Servis Hizmeti</a></li>
            <li><a href="/Page/ServiceDetail?id=2">Web ve Yazılım Çözümleri Hizmeti</a></li>
            <li><a href="/Page/ServiceDetail?id=3">Danışmanlık Hizmeti</a></li>
        </ul>
    </div>
    <!-- Page Category List End -->
    <!-- Sidebar CTA Box Start -->
    <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.25s">
        <!-- Satisfy Client Box Start -->
        <div class="satisfy-client-box">
            <!-- Satisfy Client Images Start -->
            <div class="satisfy-client-images">
                <div class="satisfy-client-image">
                    <figure class="image-anime">
                        <img src="/temaDosyalar/images/satisfy-client-img-1.jpg" alt="">
                    </figure>
                </div>
                <div class="satisfy-client-image">
                    <figure class="image-anime">
                        <img src="/temaDosyalar/images/satisfy-client-img-2.jpg" alt="">
                    </figure>
                </div>
                <div class="satisfy-client-image">
                    <figure class="image-anime">
                        <img src="/temaDosyalar/images/satisfy-client-img-3.jpg" alt="">
                    </figure>
                </div>
            </div>
            <!-- Satisfy Client Images End -->
            <!-- Satisfy Client Content Start -->
            <div class="satisfy-client-content">
                <p><span>5.5k+</span> Müşteri memnuniyeti</p>
            </div>
            <!-- Satisfy Client Content End -->
        </div>
        <!-- Satisfy Client Box End -->
        <!-- Satisfy CTA Contact Start -->
        <div class="sidebar-cta-contact">
            <h3>Yardıma mı ihtiyacınız var?</h3>
            <ul>
                <li><img src="/temaDosyalar/images/icon-phone-gradient.svg" alt=""><a href="tel:05384806800">0538 480 68 00 </a></li>
                <li><img src="/temaDosyalar/images/icon-mail-gradient.svg" alt=""><a href="mailto:Destek@istinyebilgisayar.com">Destek@istinyebilgisayar.com</a></li>
            </ul>
        </div>
        <!-- Satisfy CTA Contact End -->
    </div>
    <!-- Sidebar CTA Box End -->
</div>

