
<div class="about-us">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">Hakkımızda</h3>
                    <h2 class="text-effect wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">
                        Uzmanlıkla hareket ediyor, teknolojiyle güçleniyoruz; bilgisayar, yazılım ve dijital çözümlerle bireysel ve kurumsal ihtiyaçlara güvenilir hizmet sunuyoruz.
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- About Us Images Start -->
                <div class="about-us-images">
                    <!-- About Image List 1 Start -->
                    <div class="about-image-list-1">
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-1.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-2.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-3.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-4.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                    </div>
                    <!-- About Image List 1 End -->
                    <!-- About Image List 2 Start -->
                    <div class="about-image-list-2">
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-5.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-6.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-7.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                    </div>
                    <!-- About Image List 2 End -->
                </div>
                <!-- About Us Images End -->
            </div>

            <div class="col-lg-12">
                <!-- Section Footer Text Start -->
                <div class="section-footer-text wow fadeInUp" data-wow-delay="0.4s">
                    <p>MsTech – Bilgisayarınız Emin Ellerde! <a href="#">Teknolojik çözümler için bize ulaşın</a></p>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>