<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Awaiken">
    <!-- Page Title -->
    <title>Mstech - İstinye Bilgisayar</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/temaDosyalar/images/favicon.png">
    <!-- Google Fonts Css-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap Css -->
    <link href="/temaDosyalar/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- SlickNav Css -->
    <link href="/temaDosyalar/css/slicknav.min.css" rel="stylesheet">
    <!-- Swiper Css -->
    <link rel="stylesheet" href="/temaDosyalar/css/swiper-bundle.min.css">
    <!-- Font Awesome Icon Css-->
    <link href="/temaDosyalar/css/all.min.css" rel="stylesheet" media="screen">
    <!-- Animated Css -->
    <link href="/temaDosyalar/css/animate.css" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
    <link rel="stylesheet" href="/temaDosyalar/css/magnific-popup.css">

    <!-- Mouse Cursor Css File -->
     <link rel="stylesheet" href="/temaDosyalar/css/mousecursor.css"> 
    <!--sonradan kapatılan kısım-->

    <!-- Main Custom Css -->
    <link href="/temaDosyalar/css/custom.css" rel="stylesheet" media="screen">

    <style>
        /*animasyonları kapan kısım*/
        .paused * {
            animation-play-state: paused !important;
        }
        .fa-spin,
        .fa-pulse,
        .fa-beat,
        .fa-bounce,
        .fa-shake {
            animation: none !important;
        }
        .animated {
  will-change: auto;
  animation-fill-mode: both;
}

@@media (prefers-reduced-motion: reduce) {
  .animated {
    animation: none !important;
    transform: none !important;
  }
}
        /*animasyonları kapan kısım*/


        .breadcrumb-item::before {
            display: none !important;
            content: none !important;
        }
    </style>
</head>



<body>

    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-container">
            <div class="loading"></div>
            <div id="loading-icon"><img src="/temaDosyalar/images/loader.svg" alt=""></div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- Header Start -->
    <header class="main-header">
        <div class="header-sticky">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <!-- Logo Start -->
                    <a class="navbar-brand" href="/">
                        <img src="/temaDosyalar/images/logo-1.png" alt="Logo">
                    </a>
                    <!-- Logo End -->
                    <!-- Main Menu Start -->
                    <div class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto" id="menu">
                                <li class="nav-item ">
                                    <a class="nav-link" href="/">Anasayfa</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/Page/AboutUs">Hakkımızda</a>
                                <li class="nav-item submenu">
                                    <a class="nav-link" href="#">Hizmetlerimiz</a>
                                    <ul>
                                        <li class="nav-item"><a class="nav-link" href="/Page/ServiceDetail?id=1">Bilgisayar Teknik Servis Hizmeti</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/Page/ServiceDetail?id=2">Web ve Yazılım Çözümleri Hizmetleri</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/Page/ServiceDetail?id=3">Danışmanlık Hizmetleri</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/Page/Projects">Projelerimiz</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Page/Products">Ürünler</a></li>

                                <li class="nav-item"><a class="nav-link" href="/Page/ContactUs">İletişim</a></li>
                            </ul>
                        </div>

                        <!-- Header Btn Start -->
                        <div class="header-btn">
                            <a href="/Page/ContactUs" class="btn-default">Başlayın</a>
                        </div>
                        <!-- Header Btn End -->
                    </div>
                    <!-- Main Menu End -->
                    <div class="navbar-toggle"></div>
                </div>
            </nav>
            <div class="responsive-menu"></div>
        </div>
    </header>
    <!-- Header End -->
    @RenderBody()
    <!-- Footer Start -->
    <footer class="main-footer">
        <!-- Footer Scrolling Ticker Section Start -->
        <div class="footer-scrolling-ticker">
            <!-- Scrolling Ticker Start -->
            <div class="footer-scrolling-box">
                <div class="scrolling-content">
                    <span><img src="/temaDosyalar/images/asterisk-icon.svg" alt="">Teknolojik çözümler</span>
                    <span><img src="/temaDosyalar/images/asterisk-icon.svg" alt="">Bilgisayar Tamiri</span>
                    <span><img src="/temaDosyalar/images/asterisk-icon.svg" alt="">Bilgisayar Onarım</span>
                    <span><img src="/temaDosyalar/images/asterisk-icon.svg" alt="">Yazılım Desteği</span>
                    <span><img src="/temaDosyalar/images/asterisk-icon.svg" alt="">3D Yazıcı Desteği Çözümleri</span>
                    <span><img src="/temaDosyalar/images/asterisk-icon.svg" alt="">Web Hizmetleri</span>

                </div>

                <div class="scrolling-content">
                    <span><img src="/temaDosyalar/images/asterisk-icon.svg" alt="">Teknolojik çözümler</span>
                    <span><img src="/temaDosyalar/images/asterisk-icon.svg" alt="">Bilgisayar Tamiri</span>
                    <span><img src="/temaDosyalar/images/asterisk-icon.svg" alt="">Bilgisayar Onarım</span>
                    <span><img src="/temaDosyalar/images/asterisk-icon.svg" alt="">Yazılım Desteği</span>
                    <span><img src="/temaDosyalar/images/asterisk-icon.svg" alt="">3D Yazıcı Desteği Çözümleri</span>
                    <span><img src="/temaDosyalar/images/asterisk-icon.svg" alt="">Web Hizmetleri</span>
                </div>
            </div>
            <!-- Scrolling Ticker End -->
        </div>
        <!-- Footer Scrolling Ticker Section End -->
        <!-- Footer Box Start -->
        <div class="footer-box bg-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <!-- About Footer Start -->
                        <div class="about-footer">
                            <!-- Footer Logo Start -->
                            <div class="footer-logo">
                                <img src="/temaDosyalar/images/logo-footer.png" alt="">
                            </div>
                            <!-- Footer Logo End -->
                        </div>
                        <!-- About Footer End -->
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <!-- Footer Links Start -->
                        <div class="footer-links">
                            <h3>hızlı link</h3>
                            <ul>
                                <li><a href="/">Anasayfa</a></li>
                                <li><a href="/Page/AboutUs">Hakkımızda</a></li>
                                <li><a href="/Page/Projects">Projeler</a></li>
                            </ul>
                        </div>
                        <!-- Footer Links End -->
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <!-- Footer Links Start -->
                        <div class="footer-links">
                            <h3>Hizmetler</h3>
                            <ul>
                                <li><a href="/Page/ServiceDetail?id=1">Bilgisyar Teknik Servis Hizmeti</a></li>
                                <li><a href="/Page/ServiceDetail?id=2">Web ve Yazılım Çözümleri Hizmeti</a></li>
                                <li><a href="/Page/ServiceDetail?id=3">Danışmanlık Hizmeti</a></li>
                            </ul>
                        </div>
                        <!-- Footer Links End -->
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <!-- Footer Links Start -->
                        <div class="footer-links">
                            <h3>Destek</h3>
                            <ul>
                                <li><a href="#">Yaardım </a></li>
                                <li><a href="#">Şartlar & Koşullar </a></li>
                                <li><a href="#">Gizlilik Politikası</a></li>
                            </ul>
                        </div>
                        <!-- Footer Links End -->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <!-- Footer Links Start -->
                        <div class="footer-links">
                            <h3>İletişime Geçin</h3>
                            <ul>
                                <li><a href="tel:+0538 480 68 00">0538 480 68 00</a></li>
                                <li><a href="info@istinyebilgisayar.com">info@istinyebilgisayar.com</a></li>
                                <li>
                                    İstinye Mahallesi Çayır Caddesi No:25/A Sarıyer

                                    İstanbul

                                    Türkiye
                                </li>
                            </ul>
                        </div>
                        <!-- Footer Links End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Box End -->
        <!-- Footer Copyright Start -->
        <div class="footer-copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <!-- Footer Copyright Text Start -->
                        <div class="footer-copyright-text">
                            <img src="~/temaDosyalar/images/logoCheetah1.png" class="flex-active" style="height:50px">
                            <p>Cheetah Media © 2025 Tüm Hakları Saklıdır.</p>
                        </div>
                        <!-- Footer Copyright Text End -->
                    </div>

                    <div class="col-md-6">
                        <!-- Footer Social Link Start -->
                        <div class="footer-social-links">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- Footer Social Link End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Copyright End -->
    </footer>
    <!-- Footer End -->
    <!-- Jquery Library File -->
    <script src="/temaDosyalar/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap js file -->
    <script src="/temaDosyalar/js/bootstrap.min.js"></script>
    <!-- Validator js file -->
    <script src="/temaDosyalar/js/validator.min.js"></script>
    <!-- SlickNav js file -->
    <script src="/temaDosyalar/js/jquery.slicknav.js"></script>
    <!-- Swiper js file -->
    <script src="/temaDosyalar/js/swiper-bundle.min.js"></script>
    <!-- Counter js file -->
    <script src="/temaDosyalar/js/jquery.waypoints.min.js"></script>
    <script src="/temaDosyalar/js/jquery.counterup.min.js"></script>
    <!-- Magnific js file -->
    <script src="/temaDosyalar/js/jquery.magnific-popup.min.js"></script>
    <!-- Parallax js -->
    <script src="/temaDosyalar/js/parallaxie.js"></script>
    <!-- MagicCursor js file -->
    <script src="/temaDosyalar/js/gsap.min.js"></script>
    <script src="/temaDosyalar/js/magiccursor.js"></script>
    <!-- Text Effect js file -->
    <script src="/temaDosyalar/js/SplitText.js"></script>
    <script src="/temaDosyalar/js/ScrollTrigger.min.js"></script>
    <!-- SmoothScroll -->
    <script src="/temaDosyalar/js/SmoothScroll.js"></script>
    <!-- YTPlayer js File -->
    <script src="/temaDosyalar/js/jquery.mb.YTPlayer.min.js"></script>
    <!-- Wow js file -->
    <script src="/temaDosyalar/js/wow.min.js"></script>
    <!-- flowmap js file -->
    <script src="/temaDosyalar/js/flowmap-effect.min.js"></script>
    <!-- Main Custom js file -->
    <script src="/temaDosyalar/js/function.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6tHVElw7Xi8Xc6xDk91Twr0FjcdkWHGA"></script>


    <script type="text/javascript">
        document.addEventListener("visibilitychange", () => {
            if (document.hidden) {
                document.body.classList.add("paused");
            } else {
                document.body.classList.remove("paused");
            }
        });
    </script>
    <!--whatsapp - sağ alt köşe-->

    <script>
        window.onload = function () {
            whatsapp_se_btn_phone = '+905384806800'; //Telefon numarası
            whatsapp_se_btn_msg = 'istinyebilgisayar.com Web sitenizden ulaşıyorum. Bilgi/teklif almak istiyorum.'; //Yazılmasını istediğimiz hazır mesaj.
            $(document.body).append('<div class="whatsapp-se-btn"></div>'), whatsapp_se_btn_base64 = "/temaDosyalar/images/wp.png", $(".whatsapp-se-btn").attr("style", "position:fixed;bottom:70px;right:25px;overflow:hidden;color:#ffffff;text-align:center;padding:4px 4px;z-index:9999999;cursor:pointer;border-radius:100px;width:75px"), $(".whatsapp-se-btn").html('<img style="width:100%;" src="' + whatsapp_se_btn_base64 + '" alt="Whatsapp ile İletişime Geç" />'), $(".whatsapp-se-btn").attr("onclick", 'window.open("https://wa.me/' + whatsapp_se_btn_phone + "?text=" + whatsapp_se_btn_msg + '")');
        }
    </script>
    <!--whatsapp - sağ alt köşe-->
    <!--hizmetler wp yönlendirme-->
    <script>
        function openWhatsApp() {
            const phone = "+905384806800";
            const message = "Merhaba, size ulaşmak istiyorum";
            const url = `https://wa.me/${phone}?text=${encodeURIComponent(message)}`;
            window.open(url, "_blank");
        }
    </script>
    <!--hizmetler wp yönlendirme-->

</body>


</html>