@{
    ViewBag.Title = "Anasayfa";
}

<!-- Hero Section Start -->
<div class="hero">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">Hoşgeldiniz İstinya Bilgisayar</h3>
                    <h1 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">
                        Teknolojik çözümler için doğru adres
                        <span>istinye bilgisayar!</span>
                    </h1>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Hero Section Content Start -->
                <div class="hero-section-content">
                    <!-- Hero Content Start -->
                    <div class="hero-content wow fadeInUp">
                        <p>Hızla gelişen bir dünyada işletmelerin yenilik yapmasını, uyum sağlamasını ve liderlik etmesini sağlayan akıllı, ölçeklenebilir yapay zeka çözümleri üretiyoruz.</p>
                    </div>
                    <!-- Hero Content End -->
                    <!-- Hero List Start -->
                    <div class="hero-list wow fadeInUp" data-wow-delay="0.2s">
                        <ul>
                            <li>Teknolojik ihtiyaçlarınız için doğru adrestesiniz.</li>
                            <li>MsTech – Bilgisayarınız Emin Ellerde!</li>
                        </ul>
                    </div>
                    <!-- Hero List End -->
                    <!-- Satisfy Client Box Start -->
                    <div class="satisfy-client-box wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Satisfy Client Images Start -->
                        <div class="satisfy-client-images">
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="/temaDosyalar/images/satisfy-client-img-1.jpg" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="/temaDosyalar/images/satisfy-client-img-2.jpg" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="/temaDosyalar/images/satisfy-client-img-3.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- Satisfy Client Images End -->
                        <!-- Satisfy Client Content Start -->
                        <div class="satisfy-client-content">
                            <p><span>5.5k+</span> Müşteri memnuniyeti </p>
                        </div>
                        <!-- Satisfy Client Content End -->
                    </div>
                </div>
                <!-- Hero Section Content End -->
            </div>
        </div>
    </div>

    <!-- Hero Intro Video Start -->
    <div class="hero-intro-video">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Hero Video Box Flowmap Effect Start -->
                    <div class="hero-video-box flowmap-effect">
                        <div class="flowmap-deformation" data-bg="/temaDosyalar/images/intro-video-image.jpg" data-bg-width="1600" data-bg-height="720" style="background-image: url(/temaDosyalar/images/intro-video-image.jpg);"></div>

                        <!-- Video Play Button Start -->
                        <div class="video-play-button">
                            <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video" data-cursor-text="Play">
                                <i class="fa-solid fa-play"></i>
                            </a>
                        </div>
                        <!-- Video Play Button End -->
                        <!-- Hero Counter Box Start -->
                        <div class="hero-counter-box">
                            <!-- Hero Counter Image Start -->
                            <div class="hero-counter-image">

                                <figure class="image-anime">
                                    <img src="/temaDosylar/images/hero-counter-bg.jpg" alt="">
                                </figure>

                                <!-- Video Play Button Start -->
                                <div class="video-button-border">
                                    <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video" data-cursor-text="Play">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                    <h3>video izle</h3>
                                </div>
                                <!-- Video Play Button End -->
                            </div>
                            <!-- Hero Counter Image End -->
                            <!-- Hero Counter Content Start -->
                            <div class="hero-counter-content">
                                <h2><span class="counter">50</span>+</h2>
                                <p>Teknolojik ihtiyaçlarınız için doğru adrestesiniz. </p>
                            </div>
                            <!-- Hero Counter Content End -->
                        </div>
                        <!-- Hero Counter Box End -->
                        <!-- Hero Company Slider Box Start -->
                        <div class="hero-company-slider-box">
                            <p>Zaten liderler tarafından seçilmiş </p>

                            <!-- Hero Company Slider Start -->
                            <div class="hero-company-slider">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <!-- Company Logo Start -->
                                        <div class="swiper-slide">
                                            <div class="company-logo">
                                                <img src="/temDosyalar/images/company-logo-1.svg" alt="">
                                            </div>
                                        </div>
                                        <!-- Company Logo End -->
                                        <!-- Company Logo Start -->
                                        <div class="swiper-slide">
                                            <div class="company-logo">
                                                <img src="/temaDosyalar/images/company-logo-2.svg" alt="">
                                            </div>
                                        </div>
                                        <!-- Company Logo End -->
                                        <!-- Company Logo Start -->
                                        <div class="swiper-slide">
                                            <div class="company-logo">
                                                <img src="/temaDosyalar/images/company-logo-3.svg" alt="">
                                            </div>
                                        </div>
                                        <!-- Company Logo End -->
                                        <!-- Company Logo Start -->
                                        <div class="swiper-slide">
                                            <div class="company-logo">
                                                <img src="/temaDosyalar/images/company-logo-4.svg" alt="">
                                            </div>
                                        </div>
                                        <!-- Company Logo End -->
                                        <!-- Company Logo Start -->
                                        <div class="swiper-slide">
                                            <div class="company-logo">
                                                <img src="/temaDosyalar/images/company-logo-5.svg" alt="">
                                            </div>
                                        </div>
                                        <!-- Company Logo End -->
                                        <!-- Company Logo Start -->
                                        <div class="swiper-slide">
                                            <div class="company-logo">
                                                <img src="/temaDosyalar/images/company-logo-2.svg" alt="">
                                            </div>
                                        </div>
                                        <!-- Company Logo End -->
                                        <!-- Company Logo Start -->
                                        <div class="swiper-slide">
                                            <div class="company-logo">
                                                <img src="/temaDosylar/images/company-logo-3.svg" alt="">
                                            </div>
                                        </div>
                                        <!-- Company Logo End -->
                                    </div>
                                </div>
                            </div>
                            <!-- Hero Company Slider End -->
                        </div>
                        <!-- Hero Company Slider Box End -->
                    </div>
                    <!-- Hero Video Box Flowmap Effect End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Intro Video End -->
</div>
<!-- Hero Section End -->

<!-- About Us Section Start -->
<div class="about-us">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">Hakkımızda</h3>
                    <h2 class="text-effect wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">
                        MsTech İstinye Bilgisayar, İstinye’de bilgisayar tamiri, laptop bakımı, yazılım desteği, 3D yazıcı çözümleri ve web tasarımı hizmetleri sunan teknoloji odaklı bir teknik servistir. Her marka cihaz için hızlı ve güvenilir çözüm üretiyor, müşteri memnuniyetini ön planda tutuyoruz. Donanım satışı ve sosyal medya danışmanlığıyla da işletmelere dijital alanda destek veriyoruz. <br />
                        Teknolojik ihtiyaçlarınız için doğru adrestesiniz.<br />
                        MsTech – Bilgisayarınız Emin Ellerde!
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- About Us Images Start -->
                <div class="about-us-images">
                    <!-- About Image List 1 Start -->
                    <div class="about-image-list-1">
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-1.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-2.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-3.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-4.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                    </div>
                    <!-- About Image List 1 End -->
                    <!-- About Image List 2 Start -->
                    <div class="about-image-list-2">
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-5.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-6.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                        <!-- About Us Image Start -->
                        <div class="about-us-image">
                            <figure class="image-anime reveal">
                                <img src="/temaDosyalar/images/about-image-7.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Image End -->
                    </div>
                    <!-- About Image List 2 End -->
                </div>
                <!-- About Us Images End -->
            </div>

            <div class="col-lg-12">
                <!-- Section Footer Text Start -->
                <div class="section-footer-text wow fadeInUp" data-wow-delay="0.4s">
                    <p>MsTech – Bilgisayarınız Emin Ellerde! <a href="#">Teknolojik çözümler için bize ulaşın</a></p>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->
<!-- Our Services Section Start -->
<div class="our-services bg-section">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">Hizmetlerimiz</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Gelecekteki yenilikler için <span>teknolojik çözümler </span></h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!-- Service Item Start -->
                <div class="service-item wow fadeInUp">
                    <div class="icon-box">
                        <img src="/temaDosyalar/images/icon-service-1.svg" alt="">
                    </div>
                    <div class="service-item-content">
                        <h3><a href="#">Bilgisayar Teknik Servis</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="service-btn">
                        <a href="#" class="btn-default">devamını oku</a>
                    </div>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-lg-3 col-md-6">
                <!-- Service Item Start -->
                <div class="service-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon-box">
                        <img src="/temaDosyalar/images/icon-service-2.svg" alt="">
                    </div>
                    <div class="service-item-content">
                        <h3><a href="#">Web ve Yazılım Çözümleri</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="service-btn">
                        <a href="#" class="btn-default">devamını oku</a>
                    </div>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-lg-3 col-md-6">
                <!-- Service Item Start -->
                <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon-box">
                        <img src="/temaDosyalar/images/icon-service-3.svg" alt="">
                    </div>
                    <div class="service-item-content">
                        <h3><a href="#">Danışmanlık</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="service-btn">
                        <a href="#" class="btn-default">devamını oku</a>
                    </div>
                </div>
                <!-- Service Item End -->
            </div>

            

            <div class="col-lg-12">
                <!-- Section Footer Text Start -->
                <div class="section-footer-text wow fadeInUp" data-wow-delay="0.8s">
                    <p><span>Ücretsiz</span> Sizler için çözümler... <a href="#">Bizimle İletişime Geçin</a></p>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Services Section End -->
<!-- Our Features Section Start -->
<div class="our-features">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">Özelliklerimiz</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Bilgisayarınız emin ellerde <span>MsTech </span></h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Content Button Start -->
                <div class="section-content-btn">
                    <!-- Section Title Content Start -->
                    <div class="section-title-content wow fadeInUp" data-wow-delay="0.2s">
                        <p>Teknolojik ihtiyaçlarınız için doğru adrestesiniz. MsTech – Bilgisayarınız Emin Ellerde!</p>
                    </div>
                    <!-- Section Title Content End -->
                    <!-- Section Button Start -->
                    <div class="section-btn wow fadeInUp" data-wow-delay="0.4s">
                        <a href="#" class="btn-default">Bize Ulaşın</a>
                    </div>
                    <!-- Section Button End -->
                </div>
                <!-- Section Content Button End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <!-- Feature Item Box Start -->
                <div class="feature-item-box">
                    <!-- Feature Item Start -->
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.2s">
                        <h3>İşletme Büyümesi için Gelişmiş Teknolojik Çözümler</h3>
                        <ul>
                            <li>Otomasyon</li>
                            <li>Güvenlik</li>
                            <li>Entegrasyon</li>
                            <li>Optimizasyon</li>
                            <li>Ölçeklenebilirlik</li>
                        </ul>
                    </div>
                    <!-- Feature Item End -->
                    <!-- Feature Content Box Start -->
                    <div class="feature-content-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="/temaDosyalar/images/icon-feature-1.svg" alt="">
                        </div>
                        <div class="feature-content-title">
                            <h3>Sizler için teknolojik çözümler, teknik servis ve bakım </h3>
                        </div>
                    </div>
                    <!-- Feature Content Box End -->
                </div>
                <!-- Feature Item Box End -->
            </div>

            <div class="col-lg-4">
                <!-- Feature Image Box Start -->
                <div class="feature-image-box wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Feature Image Content Start -->
                    <div class="feature-image-content">
                        <h3>Sizler için teknolojik çözümler</h3>
                        <ul>
                            <li>Teknolojik ihtiyaçlarınız için doğru adrestesiniz.</li>
                            <li>MsTech – Bilgisayarınız Emin Ellerde!</li>
                        </ul>
                    </div>
                    <!-- Feature Image Content End -->
                    <!-- Feature Image Start -->
                    <div class="feature-image">
                        <figure>
                            <img src="/temaDosyalar/images/feature-image.png" alt="">
                        </figure>
                    </div>
                    <!-- Feature Image End -->
                </div>
                <!-- Feature Image Box End -->
            </div>

            <div class="col-lg-4">
                <!-- Feature Item Box Start -->
                <div class="feature-item-box">
                    <!-- Feature Counter Box Start -->
                    <div class="feature-counter-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="/temaDosyalar/images/icon-feature-2.svg" alt="">
                        </div>
                        <div class="feature-counter-content">
                            <h2><span class="counter">200</span>+</h2>
                            <p>Teknoloji Projesi ve web hizmetleri tamamlandı</p>
                        </div>
                        <div class="feature-counter-image">
                            <img src="/temaDosyalar/images/feature-counter-img.png" alt="">
                        </div>
                    </div>
                    <!-- Feature Counter Box End -->
                    <!-- Feature Item Start -->
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.4s">
                        <h3>Yazılım desteği ve 3D yazıcı çözümleri</h3>
                        <ul>
                            <li>SmartBot</li>
                            <li>VisionAI</li>
                            <li>PredictPro</li>
                            <li>VoiceFlow</li>
                            <li>MarketMind</li>
                        </ul>
                    </div>
                    <!-- Feature Item End -->
                </div>
                <!-- Feature Item Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Features Section End -->
<!-- Who We Are Section Start -->
<div class="who-we-are bg-section dark-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1 order-2">
                <!-- Who We Are Accordian Start -->
                <div class="who-we-are-accordion" id="whoaccordion">
                    <!-- Who We Are Accordian Item Start -->
                    <div class="accordion-item wow fadeInUp">
                        <h2 class="accordion-header" id="whoheading1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#whocollapse1" aria-expanded="true" aria-controls="whocollapse1">
                                <img src="/temaDosyalar/images/icon-who-we-are-1.svg" alt=""> Verilerle Hareket Ediyoruz, Etkilerden İlham Alıyoruz

                            </button>
                        </h2>
                        <div id="whocollapse1" class="accordion-collapse collapse show" aria-labelledby="whoheading1" data-bs-parent="#whoaccordion">
                            <div class="accordion-body">
                                <p>
                                    Verilerden öğrenen ve karmaşık süreçleri otomatikleştiren akıllı sistemler tasarlıyoruz; böylece sektörler genelinde verimliliği, doğruluğu ve ölçeklenebilirliği artırıyoruz. Uzman ekibimiz, son teknoloji makine öğrenimi modellerinden yararlanıyor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Who We Are Accordian Item End -->
                    <!-- Who We Are Accordian Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                        <h2 class="accordion-header" id="whoheading2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whocollapse2" aria-expanded="true" aria-controls="whocollapse2">
                                <img src="/temaDosyalar/images/icon-who-we-are-2.svg" alt=""> Makine Öğrenimi ve Otomasyon Uzmanları

                            </button>
                        </h2>
                        <div id="whocollapse2" class="accordion-collapse collapse" aria-labelledby="whoheading2" data-bs-parent="#whoaccordion">
                            <div class="accordion-body">
                                <p>
                                    Verilerden öğrenen ve karmaşık süreçleri otomatikleştiren akıllı sistemler tasarlıyoruz; böylece sektörler genelinde verimliliği, doğruluğu ve ölçeklenebilirliği artırıyoruz. Uzman ekibimiz, son teknoloji makine öğrenimi modellerinden yararlanıyor..
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Who We Are Accordian Item End -->
                    <!-- Who We Are Accordian Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                        <h2 class="accordion-header" id="whoheading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whocollapse3" aria-expanded="true" aria-controls="whocollapse3">
                                <img src="/temaDosyalar/images/icon-who-we-are-3.svg" alt=""> Son Teknoloji Araştırma ve Geliştirme

                            </button>
                        </h2>
                        <div id="whocollapse3" class="accordion-collapse collapse" aria-labelledby="whoheading3" data-bs-parent="#whoaccordion">
                            <div class="accordion-body">
                                <p>
                                    Verilerden öğrenen ve karmaşık süreçleri otomatikleştiren akıllı sistemler tasarlıyoruz; böylece sektörler genelinde verimliliği, doğruluğu ve ölçeklenebilirliği artırıyoruz. Uzman ekibimiz, son teknoloji makine öğrenimi modellerinden yararlanıyor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Who We Are Accordian Item End -->
                </div>
                <!-- Who We Are Accordian End -->
            </div>

            <div class="col-lg-6 order-lg-2 order-1">
                <!-- Who We Are Content Start -->
                <div class="who-we-are-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Biz Kimiz</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Uzmanlar gerçek etkiye sahip  <span>teknoloji çözümü sunuyor</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">
                            İleri görüşlü bir yapay zeka ajansıyız ve en son teknoloji yapay zeka ve makine öğrenimi çözümlerinde uzmanlaşmış durumdayız. İster bir startup ister küresel bir kuruluş olun, misyonumuz gerçek dünya sorunlarını çözen yapay zeka destekli araçlar geliştirmektir.
                        </p>
                    </div>
                    <!-- Section Title End -->
                    <!-- Who We Are Counters Start -->
                    <div class="who-we-are-counters">
                        <!-- Who We Counter Item Start -->
                        <div class="who-we-counter-item">
                            <h2><span class="counter">150</span>+</h2>
                            <p>Teslim edilen projeler</p>
                        </div>
                        <!-- Who We Counter Item End -->
                        <!-- Who We Counter Item Start -->
                        <div class="who-we-counter-item">
                            <h2><span class="counter">5</span>+</h2>
                            <p>Hizmet Verilen Endüstriler</p>
                        </div>
                        <!-- Who We Counter Item End -->
                        <!-- Who We Counter Item Start -->
                        <div class="who-we-counter-item">
                            <h2><span class="counter">98</span>%</h2>
                            <p>Müşteri memnuniyet oranı</p>
                        </div>
                        <!-- Who We Counter Item End -->
                    </div>
                    <!-- Who We Are Counters End -->
                </div>
                <!-- Who We Are Content End -->
            </div>
        </div>
    </div>
</div>
<!-- Who We Are Section End -->
<!-- Our Project Section Start -->
<div class="our-project">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">Projelerimiz</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Teknoloji çözümlerimizi & <span>başarılı projemizi sergiliyoruz</span></h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- Project Item Start -->
                <div class="project-item wow fadeInUp">
                    <!-- Project Item Content Start -->
                    <div class="project-item-content">
                        <h3><a href="#">Proje1</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
                    </div>
                    <!-- Project Item Content End -->
                    <!-- Project Image Start -->
                    <div class="project-image">
                        <a href="#" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="/temaDosyalar/images/project-1.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Project Image End -->
                </div>
                <!-- Project Item End -->
            </div>

            <div class="col-md-6">
                <!-- Project Item Start -->
                <div class="project-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Project Item Content Start -->
                    <div class="project-item-content">
                        <h3><a href="#">Proje2</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
                    </div>
                    <!-- Project Item Content End -->
                    <!-- Project Image Start -->
                    <div class="project-image">
                        <a href="#" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="/temaDosyalar/images/project-2.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Project Image End -->
                </div>
                <!-- Project Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Project Section End -->
<!-- How It Work Section Start -->
<div class="how-it-work bg-section">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">Nasıl çalışır</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Adım adım <span>teknolojik çözümler</span></h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!-- Work Step Item Start -->
                <div class="work-step-item wow fadeInUp">
                    <div class="work-step-no">
                        <p>Adım 01</p>
                    </div>
                    <div class="icon-box">
                        <img src="/temaDosyalar/images/icon-work-step-1.svg" alt="">
                    </div>
                    <div class="work-step-content">
                        <h3>Keşif & Danışmanlık</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <!-- Work Step Item End -->
            </div>

            <div class="col-lg-3 col-md-6">
                <!-- Work Step Item Start -->
                <div class="work-step-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="work-step-no">
                        <p>Adım 02</p>
                    </div>
                    <div class="icon-box">
                        <img src="/temaDosyalar/images/icon-work-step-2.svg" alt="">
                    </div>
                    <div class="work-step-content">
                        <h3>Strateji ve Planlama</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <!-- Work Step Item End -->
            </div>

            <div class="col-lg-3 col-md-6">
                <!-- Work Step Item Start -->
                <div class="work-step-item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="work-step-no">
                        <p>Adım 03</p>
                    </div>
                    <div class="icon-box">
                        <img src="/temaDosyalar/images/icon-work-step-3.svg" alt="">
                    </div>
                    <div class="work-step-content">
                        <h3>Model Geliştirme</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <!-- Work Step Item End -->
            </div>

            <div class="col-lg-3 col-md-6">
                <!-- Work Step Item Start -->
                <div class="work-step-item wow fadeInUp" data-wow-delay="0.6s">
                    <div class="work-step-no">
                        <p>Adım 04</p>
                    </div>
                    <div class="icon-box">
                        <img src="/temaDosyalar/images/icon-work-step-4.svg" alt="">
                    </div>
                    <div class="work-step-content">
                        <h3>Giden Destek</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <!-- Work Step Item End -->
            </div>

            <div class="col-lg-12">
                <!-- How It Work List Work Start -->
                <div class="how-it-work-list wow fadeInUp" data-wow-delay="0.8s">
                    <ul>
                        <li>Deployment & Integration</li>
                        <li>Monitoring & Optimization</li>
                        <li>Design Smart Solutions</li>
                    </ul>
                </div>
                <!-- How It Work List Work End -->
            </div>
        </div>
    </div>
</div>
<!-- How It Work Section End -->
<!-- Our Testimonials Section Start -->
<div class="our-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Testimonial Content Box Start -->
                <div class="testimonial-content-box">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-cursor="-opaque">Impressive stats backing our <span>AI solutions</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">We are a forward-thinking AI agency specializing in cutting-edge artificial intelligence and machine learning solutions to build AI-powered tools that solve real-world problems.</p>
                    </div>
                    <!-- Section Title End -->
                    <!-- Testimonial Counters Start -->
                    <div class="testimonial-counters">
                        <!-- Testimonial Counter Item Start -->
                        <div class="testimonial-counter-item">
                            <div class="icon-box">
                                <img src="images/icon-testimonial-counter-1.svg" alt="">
                            </div>
                            <div class="testimonial-counter-content">
                                <h2><span class="counter">200</span>+</h2>
                                <p>AI Agency Technology Project Complate</p>
                            </div>
                        </div>
                        <!-- Testimonial Counter Item End -->
                        <!-- Testimonial Counter Item Start -->
                        <div class="testimonial-counter-item">
                            <div class="icon-box">
                                <img src="images/icon-testimonial-counter-2.svg" alt="">
                            </div>
                            <div class="testimonial-counter-content">
                                <h2><span class="counter">98</span>%</h2>
                                <p>Client Satisfaction Rate in Our Agency</p>
                            </div>
                        </div>
                        <!-- Testimonial Counter Item End -->
                    </div>
                    <!-- Testimonial Counters End -->
                </div>
                <!-- Testimonial Content Box End -->
            </div>

            <div class="col-lg-6">
                <!-- Testimonial Slider Box Start -->
                <div class="testimonial-slider-box dark-section">
                    <!-- Testimonial Slider Content Start -->
                    <div class="testimonial-slider-box-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Testimonials</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">What our client says</h2>
                        </div>
                        <!-- Section Title End -->
                        <!-- Testimonial Images Start -->
                        <div class="testimonial-images">
                            <!-- Satisfy Client Images Start -->
                            <div class="satisfy-client-images">
                                <div class="satisfy-client-image">
                                    <figure class="image-anime">
                                        <img src="images/author-1.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="satisfy-client-image">
                                    <figure class="image-anime">
                                        <img src="images/author-2.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="satisfy-client-image">
                                    <figure class="image-anime">
                                        <img src="images/author-3.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="satisfy-client-image">
                                    <figure class="image-anime">
                                        <img src="images/author-4.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="satisfy-client-image">
                                    <figure class="image-anime">
                                        <img src="images/author-5.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                            <!-- Satisfy Client Images End -->
                        </div>
                        <!-- Testimonial Images End -->
                    </div>
                    <!-- Testimonial Slider Content End -->
                    <!-- Testimonial Slider Start -->
                    <div class="testimonial-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper" data-cursor-text="Drag">
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-slider-content">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>"Working with was a game-changer for our business. They took the time understand our unique challenges & solutions that boosted our efficiency & the team was knowledgeable, responsive & incredibly easy to work with.!"</p>
                                            </div>
                                            <div class="author-content">
                                                <h3>Sophia Reynolds</h3>
                                                <p>Founder</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-slider-image">
                                            <figure class="image-anime">
                                                <img src="images/testimonial-image-1.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-slider-content">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>"Working with was a game-changer for our business. They took the time understand our unique challenges & solutions that boosted our efficiency & the team was knowledgeable, responsive & incredibly easy to work with.!"</p>
                                            </div>
                                            <div class="author-content">
                                                <h3>Jacob Jones</h3>
                                                <p>CEO</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-slider-image">
                                            <figure class="image-anime">
                                                <img src="images/testimonial-image-2.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-slider-content">
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="testimonial-content">
                                                <p>"Working with was a game-changer for our business. They took the time understand our unique challenges & solutions that boosted our efficiency & the team was knowledgeable, responsive & incredibly easy to work with.!"</p>
                                            </div>
                                            <div class="author-content">
                                                <h3>Olivia bennett</h3>
                                                <p>Managing director</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-slider-image">
                                            <figure class="image-anime">
                                                <img src="images/testimonial-image-3.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                            </div>
                            <div class="testimonial-pagination"></div>
                        </div>
                    </div>
                    <!-- Testimonial Slider End -->
                </div>
                <!-- Testimonial Slider Box End -->
            </div>

            <div class="col-lg-12">
                <!-- Testimonial Rating Box Start -->
                <div class="testimonial-rating-box">
                    <!-- Testimonial Rating Item Start -->
                    <div class="testimonial-rating-item">
                        <div class="icon-box">
                            <img src="images/icon-testimonial-rating-1.svg" alt="">
                        </div>
                        <div class="testimonial-rating-content">
                            <p><span class="counter">982</span>+ Trustpilot 4.8 start review</p>
                        </div>
                    </div>
                    <!-- Testimonial Rating Item End -->
                    <!-- Testimonial Rating Item Start -->
                    <div class="testimonial-rating-item">
                        <div class="icon-box">
                            <img src="images/icon-testimonial-rating-2.svg" alt="">
                        </div>
                        <div class="testimonial-rating-content">
                            <p><span class="counter">487</span>+ Airbng 5 start reviews</p>
                        </div>
                    </div>
                    <!-- Testimonial Rating Item End -->
                    <!-- Testimonial Rating Item Start -->
                    <div class="testimonial-rating-item">
                        <div class="icon-box">
                            <img src="images/icon-testimonial-rating-3.svg" alt="">
                        </div>
                        <div class="testimonial-rating-content">
                            <p><span class="counter">182</span>+ Yelp 5 start reviews</p>
                        </div>
                    </div>
                    <!-- Testimonial Rating Item End -->
                    <!-- Testimonial Rating Item Start -->
                    <div class="testimonial-rating-item">
                        <div class="icon-box">
                            <img src="images/icon-testimonial-rating-4.svg" alt="">
                        </div>
                        <div class="testimonial-rating-content">
                            <p><span class="counter">897</span>+ Google 5 start reviews</p>
                        </div>
                    </div>
                    <!-- Testimonial Rating Item End -->
                </div>
                <!-- Testimonial Rating Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Testimonials Section End -->
<!-- Our Faqs Section Start -->
<div class="our-faqs bg-section dark-section">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">faq's</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Frequently asked questions on <span>AI services</span></h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- FAQ Accordion Start -->
                <div class="faq-accordion" id="accordion">
                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                What industries can benefit from AI solutions?
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We monitor system performance in real-time, identifying and addressing any issues to ensure that your AI solution runs smoothly at all times.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->
                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                How do you customize AI solutions for my needs?
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We monitor system performance in real-time, identifying and addressing any issues to ensure that your AI solution runs smoothly at all times.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->
                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                What kind of support do you provide post-deployment?
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We monitor system performance in real-time, identifying and addressing any issues to ensure that your AI solution runs smoothly at all times.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->
                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                How secure is the AI technology you use?
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We monitor system performance in real-time, identifying and addressing any issues to ensure that your AI solution runs smoothly at all times.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->
                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                        <h2 class="accordion-header" id="heading5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                How long does it take to see results?
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We monitor system performance in real-time, identifying and addressing any issues to ensure that your AI solution runs smoothly at all times.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->
                </div>
                <!-- FAQ Accordion End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Faqs Section End -->
<!-- Our Blog Section Start -->
<div class="our-blog">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">latest blog</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Latest tech tips, news, and repair insights</h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Post Item Start -->
                <div class="post-item wow fadeInUp">
                    <!-- Post Featured Image Start-->
                    <div class="post-featured-image">
                        <a href="blog-single.html" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="images/post-1.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Post Featured Image End -->
                    <!-- Post Item Body Start -->
                    <div class="post-item-body">
                        <!-- Post Item Content Start -->
                        <div class="post-item-content">
                            <h2><a href="blog-single.html">Natural Language Processing The AI Frontier</a></h2>
                        </div>
                        <!-- Post Item Content End -->
                        <!-- Post Item Readmore Button Start-->
                        <div class="post-item-btn">
                            <a href="blog-single.html" class="btn-default">read more</a>
                        </div>
                        <!-- Post Item Readmore Button End-->
                    </div>
                    <!-- Post Item Body End -->
                </div>
                <!-- Post Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Post Item Start -->
                <div class="post-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Post Featured Image Start-->
                    <div class="post-featured-image">
                        <a href="blog-single.html" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="images/post-2.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Post Featured Image End -->
                    <!-- Post Item Body Start -->
                    <div class="post-item-body">
                        <!-- Post Item Content Start -->
                        <div class="post-item-content">
                            <h2><a href="blog-single.html">AI in Healthcare Transforming Patient Care</a></h2>
                        </div>
                        <!-- Post Item Content End -->
                        <!-- Post Item Readmore Button Start-->
                        <div class="post-item-btn">
                            <a href="blog-single.html" class="btn-default">read more</a>
                        </div>
                        <!-- Post Item Readmore Button End-->
                    </div>
                    <!-- Post Item Body End -->
                </div>
                <!-- Post Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Post Item Start -->
                <div class="post-item wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Post Featured Image Start-->
                    <div class="post-featured-image">
                        <a href="blog-single.html" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="images/post-3.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Post Featured Image End -->
                    <!-- Post Item Body Start -->
                    <div class="post-item-body">
                        <!-- Post Item Content Start -->
                        <div class="post-item-content">
                            <h2><a href="blog-single.html">Unlocking the Power of Predictive Analytics</a></h2>
                        </div>
                        <!-- Post Item Content End -->
                        <!-- Post Item Readmore Button Start-->
                        <div class="post-item-btn">
                            <a href="blog-single.html" class="btn-default">read more</a>
                        </div>
                        <!-- Post Item Readmore Button End-->
                    </div>
                    <!-- Post Item Body End -->
                </div>
                <!-- Post Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Blog Section End -->